@font-face {
    font-family: 'GTWalsheimProUltraLight';
    src: url('../fonts/GTWalsheimProUltraLight.eot');
    src: url('../fonts/GTWalsheimProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProUltraLight.woff2') format('woff2'),
        url('../fonts/GTWalsheimProUltraLight.woff') format('woff'),
        url('../fonts/GTWalsheimProUltraLight.ttf') format('truetype'),
        url('../fonts/GTWalsheimProUltraLight.svg#GTWalsheimProUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProBlack';
    src: url('../fonts/GTWalsheimProBlack.eot');
    src: url('../fonts/GTWalsheimProBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProBlack.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBlack.woff') format('woff'),
        url('../fonts/GTWalsheimProBlack.ttf') format('truetype'),
        url('../fonts/GTWalsheimProBlack.svg#GTWalsheimProBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProMedium';
    src: url('../fonts/GTWalsheimProMedium.eot');
    src: url('../fonts/GTWalsheimProMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProMedium.woff2') format('woff2'),
        url('../fonts/GTWalsheimProMedium.woff') format('woff'),
        url('../fonts/GTWalsheimProMedium.ttf') format('truetype'),
        url('../fonts/GTWalsheimProMedium.svg#GTWalsheimProMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('../fonts/GTWalsheimProBold.eot');
    src: url('../fonts/GTWalsheimProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBold.woff') format('woff'),
        url('../fonts/GTWalsheimProBold.ttf') format('truetype'),
        url('../fonts/GTWalsheimProBold.svg#GTWalsheimProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700'); /* font-family: 'PT Serif', serif; */

body{
    font-family: 'Montserrat', sans-serif;
}

.bgHeader{
    background-image: url(../images/bgFull.jpg);
    background-position: center top;
    background-size: cover;
}

.logoOne{
    padding: 2%;
}

.nav > li > a {
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
}
.navOne > li > a {
    color:#2c2d87;
    text-transform: uppercase;
    font-weight: 300;
}

.nav > li > a:hover{
    background-color: transparent;   
}

.nav > li > a:focus{
    font-weight: 700;
    background-color: transparent;
}

.topBar {
    background-color: #f9f8f6 !important;
}

.navbar-brand{
    padding: 10px 15px;
}

.headerMargin{
    margin-top: 15%;
}

.txtHeaderOne{
    color: #c5c3c0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
}

.txtHeaderTwo{
    font-family: 'GTWalsheimProBlack';
    font-size: 4.5em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: -12px;
}

.txtHeaderThree{
    color: #c5c3c0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-top: -15px;
    font-weight: 300;
}

.txtHeaderFour{
    color: #c5c3c0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 50px;
}

.btnMargin {
    margin-top: 6%;
    margin-bottom: 14%;
}

.btn-primary {
    color: #fff;
    background-color: #009fe3;
    border-color: #009fe3;
}

.btn-outline-primary {
    border-color: #202323;
    background: transparent;
    color: #fff;
}

/*  O Filme  */

.bgFilme{
    background-image: url(../images/bgFilme.jpg);
    background-position: center top;
    background-size: cover;
}

.txtFilmeOne{
    font-family: 'GTWalsheimProBlack';
    color: #2c2d87;
    font-size: 4.5em;
}

.txtFilmeOneB{
    font-family: 'GTWalsheimProUltraLight';
}

.marginFilme{
    margin-top: 20%;
    margin-bottom: 3%;
}

.txtFilmeTwo{
    color: #4f5362;
    font-size: 1.5em;
}

.marginFilmeB {
    border-top: solid 3px rgba(193, 193, 193, 0.30);
    padding-top: 5%;
    margin-bottom: 10%;
}

.txtFilmeThree{
    color: #222328;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.txtFilmeFour{
    color: #4f5362;
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
}

/*  Characters  */

.characters{
    background-image: url(../images/bgCharacters.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txtCharactersOne{
    font-family: 'GTWalsheimProBlack';
    text-align: center;
    color: #fff;
    font-size: 1.7em;
}

.txtCharactersTwo{
    font-family: 'PT Serif', serif;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.marginCharacters{
    margin-top: 15%;
    margin-bottom: 15%;
}

@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -30px;
    }
}

.kv{
    background-image: url(../images/bgKv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.marginKv{
    margin-top: 15%;
    margin-bottom: 15%;
}